.DayPicker {
  &-Month {
    margin: 0 12px;
  }

  &-Day {
    padding: 5px;
  }

  &-Legend {
    & > span:nth-of-type(1) {
      margin-right: 5px;
    }
  }

  &-Exp {
    & > span:nth-of-type(1) {
      margin-right: 5px;
    }
  }
}