.PlanItem {
  margin: 7px 0;
  font-size: 14px;

  &-StatusIcon {
    margin: 0 15px;
  }

  &-Date {
    margin-right: 15px;
  }
  &-Text {
    margin-left: 15px;
  }

  &_Complete {
    color: #0f0;
  }

  &_Wait {
    color: #135310;
  }

}