.PlusButton {
  margin: 10px 0;

  &-Icon {
    font-size: 45px;
    color: #fff;
    background-color: rgba(21, 165, 98, 1);
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 40px;
    transition: background-color .3s ease;

    &:hover {
      background-color: rgba(21, 165, 98, .85);
    }
  }
}