.DocsFromProject {
  flex: 0 1 30%;
  margin: 5px;

  &-Column {
    flex: 0 1 50%;
  }

  &-Link {
    margin-left: 15px;
    color: #2196f3;
    
    &:hover,
    &:active {
      color: #1976d2;
    }
  }

  &-Item {
    line-height: 1.5;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
  }
}