.Stage {
  flex: 1;
  border: 2px solid #000000;
  margin: 10px;

  &_Active {
    border: 2px solid #005300;
  }

  &-Status {
    &_Complete {
      color: green;
    }
    &_Wait {
      color: gray;
    }
  }
}